project_id      = "laza-prd-project-id"
environment     = "prd"
region          = "europe-west1"
bucket_location = "EU"
bucket_prefix   = "laza"

landing_retention_days  = 30
rejected_retention_days = 365
logs_retention_days     = 730
force_destroy_buckets   = false

labels = {
  cost_center = "laza"
  owner       = "data-platform"
}
